<form method="post" action="/posts/<%= @post.id %>">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <p>Existing Name: <%= @post.name %></p>
  <p>Existing Content: <%= @post.content %></p>
</form>
